<div class="full-height-min">
    <md-content layout="column">
        <md-content layout="row" class="full-height-min">
            <div class="sidenav" layout="vertical">
                <md-sidenav layout-fill flex class="md-sidenav-left md-whiteframe-z2 sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                    <md-toolbar class="md-theme-indigo">
                        Welcome back {{ user.username }}!
                    </md-toolbar>
                </md-sidenav>
            </div>
            <md-content>
                <h1>Dash stuff here</h1>
            </md-content>

        </md-content>
    </md-content>
</div>
