<md-content id="loginWrapper" layout-padding layout-fill layout="column" layout-align="center center">
    <md-card>
        <md-toolbar class="md-primary md-hue-1">
            <div class="md-toolbar-tools">
                <h1 style="text-align: center" flex>Login or Sign Up</h1>
            </div>
        </md-toolbar>
        <md-card-content>
            <md-input-container>
                <label>Email</label>
                <input type="text" ng-model="user.username" />
                <div style="color:red" ng-messages="user.$error">
                    <div ng-message="unReq">Please enter a username</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="user.password" />
                <div style="color:red" ng-messages="user.$error">
                    <div ng-message="passReq">Please enter a password</div>
                </div>
            </md-input-container>
            <div class="md-actions" layout="row" layout-align="space-between center">
                <md-button id="signUpButton" class="md-raised md-accent" ng-click="signUp()">Sign Up</md-button>
                <h4>OR</h4>
                <md-button id="loginButton" class="md-raised" ng-click="login()">login</md-button>
            </div>
        </md-card-content>
    </md-card>
</md-content>
